@media (min-width: 641px) {
    .discover-grid {
        grid-template-areas:
            "message message"
            "title title"
            "cards cards";
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
