/* styles/large.css */

@media (min-width: 768px) {
  main {
    max-width: 1000px;
    margin: auto;
  }

  #courses {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .course-card {
    flex: 1 1 calc(50% - 1rem);
    box-sizing: border-box;
  }

  header {
    justify-content: space-between;
  }

  nav ul {
    display: flex !important;
    gap: 1rem;
  }

  #menu-toggle {
    display: none;
  }
}
